{% extends "loan_service/base.html" %}
{% block title %}Loan Tracker Project{% endblock %}
{% block breadcrumb %}{% include "loan_service/breadcrumb.html" with search=True admin=True %}{% endblock %}
{% block explanation %}
    <div class="explanation">
        <h1>Title here</h1>
        <!-- <img class="landscape" src="static/images/avengers.jpg">&nbsp; -->
        <textarea>Payment Logs</textarea>
    </div>
{% endblock %}
{% block page_content %}{% include "loan_service/paymentlog_list.html" with loans=loans %}{% endblock %}
