<!-- <img src="/static/images/deb_movie_logo.jpg">&nbsp; -->
{% if home %}<a href="/">Home</a>&nbsp;{% endif %}
{% if admin %}|&nbsp;<a href="admin" target="_blank">Admins</a>{% endif %}
{% if back %}|&nbsp;<a href="javascript:history.back(-1)">Back</a>&nbsp;{% endif %}
<!-- {% if search_refine %}|&nbsp;<a href="javascript:history.back(-1)">Refine Search</a>&nbsp;{% endif %} -->
<!-- additional logic required to see if search is first option -->
<!-- {% if search %}|&nbsp;<a href="/search">Search</a>{% endif %}
{% if search_again %}|&nbsp;<a href="/search">Search Again</a>{% endif %} -->